.LocationInfo {
    .pannel {
        margin-top: 30px;
        padding: 0 16px;
        h5 {
            text-align: left;
        }
        .OddButton {
            display: block;
            width: 155px;
            margin: 32px auto;
        }
    }
    div.cancel {
        .OddButton {
            background-image: linear-gradient(to top, #ff332d, #ff6921);
            margin: 308px auto 0 auto;
            span {
                background: #fff;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}