.Login {
    h1 {
        margin: 30% 0 15% 0;
        text-align: center;
        color: #fff;
        font-size: 60px;
    }
    ion-icon {
        font-size: 30px;
    }
    .login-form {
        width: 70%;
        margin: auto;
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 10px;
            height: 200px;
        }
    }
}