.SignUp{
    background-color: linear-gradient(135deg, #3df1ff 0%, #33aeea 100%);

    ion-content{
        background-color: transparent !important;
    }
    ion-item{
        background: transparent;
        background: none;
    }
}