.Tab1 {
    @keyframes yourAnimation1 {
        0% {
        }
        50% {
            transform: scale(1.1);
        }
        100% {
        }
    }
    @keyframes yourAnimation2 {
        0% {
        }
        50% {
            transform: scale(1.1);
        }
        100% {
        }
    }
    @keyframes yourAnimation3 {
        0% {
            transform: rotate(0) scale(1);
        }
        50% {
            transform: rotate(0) scale(1.05);
        }
        100% {
            transform: rotate(0) scale(1);
        }
    }
    @keyframes yourAnimation4 {
        0% {
            transform: rotate(0) scale(1);
        }
        50% {
            transform: rotate(0) scale(1.05);
        }
        100% {
            transform: rotate(0) scale(1);
        }
    }
    @keyframes yourAnimation5 {
        0% {
            transform: rotate(0) scale(1);
            filter: blur(2px)
        }
        50% {
            transform: rotate(0) scale(1.05);
            filter: blur(0px)
        }
        100% {
            transform: rotate(0) scale(1);
            filter: blur(2px)
        }
    }
    @keyframes yourAnimation12 {
        0% {
            transform: translateY(4px)
        }
        50% {
            transform: translateY(-1px)
        }
        100% {
            transform: translateY(4px)
        }
    }
    @keyframes yourAnimation6 {
        0% {
            transform: translateY(4px)
        }
        50% {
            transform: translateY(-3px)
        }
        100% {
            transform: translateY(4px)
        }
    }
    @keyframes yourAnimation8 {
        0% {
            transform: rotate(0) scale(1);
            filter: blur(3px)
        }
        50% {
            transform: rotate(0) scale(1.05);
            filter: blur(0px)
        }
        100% {
            transform: rotate(0) scale(1);
            filter: blur(3px)
        }
    }
    @keyframes yourAnimation7 {
        0% {
            transform: translateY(3px)
        }
        50% {
            transform: translateY(-1px)
        }
        100% {
            transform: translateY(3px)
        }
    }

    .fade-in {
        opacity: 0;
        transition: opacity 1s;
        &.active {
            opacity: 1;
        }
    }
    h1 {
        margin: 35% 0 30% 0;
        text-align: center;
        color: #fff;
        font-size: 60px;
        font-weight: 550;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        padding: 0 32px;
        height: 200px;
    }
    .ellipse {
        position: absolute;
        border-radius: 50%;
    }
    .Ellipse-1 {
        left: -120px;
        bottom: -129px;
        width: 360px;
        height: 360px;
        filter: blur(2px);
        border: solid 2px rgba(255, 255, 255, 0.63);
        animation: yourAnimation1 5s infinite 0s ease-in-out;
    }
    .Ellipse-2 {
        left: -101px;
        bottom: -110px;
        width: 312px;
        height: 312px;
        filter: blur(1px);
        border: solid 55px rgba(255, 255, 255, 0.63);
        animation: yourAnimation2 4.5s infinite 0s ease-in-out;
    }
    .Ellipse-3 {
        left: 171px;
        bottom: -239px;
        width: 800px;
        height: 800px;
        filter: blur(1px);
        border: solid 1px rgba(255, 255, 255, 0.63);
        animation: yourAnimation3 13s infinite 0s ease-in-out;
    }
    .Ellipse-4 {
        width: 178px;
        height: 178px;
        left: 284px;
        top: -36px;
        border: 20px solid rgba(255, 255, 255, 0.69);
        box-sizing: border-box;
        filter: blur(1px);
        animation: yourAnimation4 7s infinite 0s ease-in-out;
    }
    .Ellipse-5 {
        width: 8px;
        height: 8px;
        left: 84px;
        top: 288px;
        border: 5px solid rgba(255, 255, 255, 0.52);
        filter: blur(2px);
        animation: yourAnimation5 3s infinite 0s ease-in-out;
    }
    .Ellipse-6 {
        width: 17px;
        height: 17px;
        left: 57px;
        top: 301px;
        border: 3px solid rgba(255, 255, 255, 0.45);
        animation: yourAnimation6 2.5s infinite 0s ease-in-out;
    }
    .Ellipse-7 {
        border: solid 2px rgba(255, 255, 255, 0.52);
        width: 2px;
        height: 2px;
        left: 90px;
        top: 94px;
        background: rgba(255, 255, 255, 0.57);
        animation: yourAnimation7 4s infinite 0s ease-in-out;
    }
    .Ellipse-8 {
        width: 83.51px;
        height: 83.51px;
        left: 33px;
        top: 42px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: blur(3px);
        animation: yourAnimation8 3.5s infinite 0s ease-in-out;
    }
    .Ellipse-12 {
        width: 10px;
        height: 10px;
        filter: blur(0.5px);
        border: solid 5px rgba(255, 255, 255, 0.69);
        left: 326px;
        top: 450px;
        animation: yourAnimation12 2s infinite 0s ease-in-out;
    }
}
