button {
    background: #fff;
    padding: 16px 10px;
    border-radius: 60px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    min-width: 120px;
}

button:active {
    box-shadow: none;
    transform: translateY(3px);
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    background: #ECECEC;
    filter: grayscale(80%);
}

button:focus {
    outline: none;
}

button span {
    background: linear-gradient(315deg, rgba(61, 241, 255, 1) 0%, rgba(44, 170, 231, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}