div.parking-lot {
    margin: 0;
    width: 100%;
    display: flex;
    background: #fff;
    border-bottom: 1px solid lightgray;
    .thumbnail {
        width: 90px;
        height: 90px;
        object-fit: cover;
    }
    .content {
        flex: 1;
        padding-left: 8px;
    }
}